html {
    background-color: indigo;
    font-family: monospace;
    color: beige;
}

#mainh1 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: beige;
}

table, th, td {
    border: 1px solid beige;
    border-collapse: collapse;
    font-size: medium;
    text-align: center;
    margin: auto;
    table-layout:auto;
}

button {
    justify-content: center;
    align-items: center;
}

thead {
    font-weight: bold;
    text-transform: uppercase;
}

tbody {
    word-wrap: break-word;
    word-break: break-all;
}
