
/*General*/

html{
  background-color: #121212;
  color: #fff;
  font-family: monospace;

}

.container {
  display: grid;
  grid-template-areas:
  "nav nav"
  "body body"
  "footer footer";
  grid-auto-flow: row;
  grid-template-columns: 100vw;
  grid-template-rows: 50px 700px 10vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.indexh1 {
  font-size: medium;
  color: #fff;
  margin: 20px;
  padding: 20px;
  line-height: normal;
  display: block;
  text-align: center;
  font-size: larger;
}

main {
  z-index: 0;
  grid-area: body;
  width: 100vw;
  margin: 0px;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
}

main p {
  padding: 20px;
  margin: 20px;
  font-size:xx-large;
}

footer {
    grid-area: footer;
    padding-left: 20px;
    padding-top: 50px;
    color: #fff;
    position: static;
    justify-content: end;
}


/* Nav */

nav {
  z-index: 1;
  grid-area: nav;
  text-align:left;
  margin: 0px;
  padding: 0px;
  justify-content: left;
  height: fit-content;
  width: 100vw;
}

ul {
  color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
    float: left;
    justify-content: left;
}

ul li a {
    color: #fff;
    display:inline-block;
    font-weight: 500;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 12px;
}

ul li a:hover {
  background-color: #caa8f5;
}

ul li a:active {
  background-color: #cb65fd;
  font-weight: 900;
}

.currenttab {
  font-weight: 900;
}

.adminlog {
  justify-content: end;
}

/* Projects buttons */

.projects {
    color: #fff;
    display: block;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
    margin: 20px auto;
    font-size: 12px;
    background-color: #3f3f3f;
    width: fit-content;
  }

  .projects:hover {
    background-color: #282828;
  }

  .projects:active {
    background-color: #cb65fd;
  }



/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Set a style for all buttons */
button {
  background-color: #d278fe;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container {
  width: 300px;
  margin: auto;
  justify-content: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: auto;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
