
html, body{
    margin: 0;
    padding: 0;
    background-color: #707793;
    font-family: monospace;
}

.indexh1 {
  font-size: medium;
  color: #ccc;
  margin: 20px;
  padding: 20px;
  line-height: normal;
  display: block;
  text-align: center;
  font-size: larger;
}

#aboutme{
  font-size: medium;
  color: #ccc;
  margin: 20px;
  padding: 20px;
  line-height: normal;
  display: block;
}

.indexgif {
  display: flex;
  justify-content: center;
}

#naga {
  display: flex;
}

ul {
  list-style-type: none;
  background-color: #2e3047;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  float: left;
}

ul li a {
    color: #3bba9c;
    display: block;
    font-weight: 600;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 12px;
}

ul li a:hover {
  background-color: #111;
}

#back {
    font-weight: bolder;
    font-size: large;
}

 /* Bordered form */
form {
  border: 3px solid #707793;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #3bba9c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 0%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 