
/*General*/

html, body{
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
  font-family: monospace;
}

.container {
  display: grid;
  grid-template-areas: "header"
  "nav"
  "body"
  "footer";
  grid-template-columns: auto;
  grid-template-rows: 40px 50px 600px 200px;
  width: 100%;
  position: relative;
  margin: auto;
}

body {
  justify-items: stretch;
}

body p {
  font-size: x-large;
  margin: 20px;
  text-align: center;
}

.indexh1 {
  font-size: medium;
  color: #fff;
  margin: 20px;
  padding: 20px;
  line-height: normal;
  display: block;
  text-align: center;
  font-size: larger;
}

main {
  justify-self: center;
}


body h1 {
  text-align: center;
}

.gif {
  justify-self: center;
  align-self: center;
}

/* Nav */

.txt {
  padding-top: 50px;
}

header {
  grid-area: header;
  position: relative;
  background-color: #121212;
  width: 100%;
  padding: 0px;
  height:fit-content;
  display: inline;
}

nav {
  grid-area: nav;
  position: fixed;
  background-color: #282828;
  height: fit-content;
  width: 100%;
  justify-self: center;
  align-items: stretch;
}

ul {
  color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
    float: left;
}



ul li a {
    color: #fff;
    display: block;
    font-weight: 500;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 12px;
}

ul li a:hover {
  background-color: #caa8f5;
}

ul li a:active {
  background-color: #cb65fd;
  font-weight: 900;
}

.currenttab {
  font-weight: 900;
}

.adminlog {
  justify-content: end;
}

/* Projects buttons */
.projectlinks {
  padding-top: 100px;
}

.projects {
    color: #fff;
    display: block;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
    margin: 20px auto;
    font-size: 12px;
    background-color: #3f3f3f;
    width: fit-content;
  }

  .projects:hover {
    background-color: #282828;
  }

  .projects:active {
    background-color: #cb65fd;
  }


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Set a style for all buttons */
button {
  background-color: #d278fe;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container {
  width: 300px;
  margin: auto;
  justify-content: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: auto;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 
