* {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
}

/* Header */


.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    z-index: 1;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

/* Navigation */

ul {
    display: inline-flex;
    list-style-type:none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
}

ul li a {
    text-decoration: underline;
}

.body {
    padding-top: 69px;
}

.mission {
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
}

.mission img {
    display: flexbox;
    width: 1200px;
    margin: auto;
}

.missiontxt {
    text-align: center;
    width: 100%;
    position: absolute;
    padding: 10px;
    height: fit-content;
}

.missiontxt h2 {
    padding-bottom: 20px;
}