html {
    background-color: rgb(224, 214, 236);
}

ul {
  color: #fff;
  list-style-type: none;
  background-color: #282828;
  width: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
    float: left;
}

ul li a {
    color: #fff;
    display: block;
    font-family: monospace;
    font-weight: 500;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 12px;
}

ul li a:hover {
  background-color: #caa8f5;
}

ul li a:active {
  background-color: #cb65fd;
  font-weight: 900;
}

#back {
    background-color: #282828;
    border: #121212;
    font-weight: bolder;
    font-size: large;

}
.colorcontainer {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(175, 174, 160);
  justify-content: center;
}

.fontcontainer {
    display: flex;
    border: 1px solid rgb(175, 174, 160);
    justify-content: center;
    font-size: 15px;
}

h1 {
    font-family: monospace;
}

h2 {
    margin: 10px auto;
    font-family: monospace;
    font-weight: 500;
}

/* colors */

.color {
    text-transform: capitalize;
    text-align: center;
    font-family: monospace;
    width: 180px;
    height: 300px;
    border: 2px solid transparent;
    margin: 15px 0px;
}

.hex {
    text-transform: uppercase;
}

.white {
    background-color: #fff;
}

.heliotrope1 {
    background-color: #cb65fd;
}

.heliotrope2 {
    background-color: #d278fe;
}

.heliotrope3 {
    background-color: #d98afe;
}

.night {
    color: #fff;
    background-color: #121212;
}

.raisin {
    color: #fff;
    background-color: #282828;
}

.onyx {
    color: #fff;
    background-color: #3f3f3f;
}

/* fonts */

.monospace {
    font-family: monospace;
    padding: 20px;
}

.georgia {
    font-family: Georgia;
    padding: 20px;
}

.arial {
    font-family: Arial;
    padding: 20px
}

.fontname {
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bolder;
}

.underline {
    text-decoration: underline;
}
